.advantage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.advantage__header {
  width: 320px;
  margin: 0;
  padding: 20px 5px;
  text-align: center;
  color: $color-black-two;
  background-color: $color-gray-light;
}

.advantage--normal {
  min-height: 170px;
}

.advantage--normal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  height: 1px;
  width: 280px;
  background-color: $color-black-10;
}

.advantage--large .advantage__header {
  min-height: 191px;
  color: $color-white;
  background-color: $color-blue-light-grey;
}

.advantage--large + .advantage--normal::before {
  background-color: transparent;
}

.advantage__title {
  font-size: $text-font-size-normal;
  line-height: $text-line-height-medium;
  margin: 15px 0;
}

.advantage__number {
  font-weight: normal;
}

.advantage__description {
  margin: 0;
  margin-top: 20px;
}

.advantage__image {
  background-color: $color-white;
  width: 320px;
  height: 260px;
}

.advantage--normal .advantage__title {
  margin-top: 10px;
}

.advantage--large .advantage__title {
  margin-top: 20px;
}


.advantage__proves {
  @include reset-list;

  padding-top: 20px;
  padding-bottom: 20px;
}
