.advantage-prove {
  text-align: left;
  padding: 10px 5px 10px 69px;
}

.advantage-prove__title {
  font-size: $text-font-size-normal;
  line-height: $text-line-height-medium;
  color: $color-black-two;
  margin: 0;
}
