/* Colors */
$color-white: #ffffff;
$color-white-20: rgba(255, 255, 255, 0.2);

$color-black: #333333;
$color-black-two: #000000;
$color-black-60: rgba(1, 1, 1, 0.6);
$color-black-20:rgba(1, 1, 1, 0.2);
$color-black-10:rgba(1, 1, 1, 0.1);

$color-blue-sky: #AACBE1;
$color-blue-light-grey: #81b3d2;

$color-gray-normal: #E5E5E5;
$color-gray-light: #eee;
$color-gray-white-smoke: #F2F2F2;

/* text */
$text-font-size-small: 14px;
$text-font-size-normal: 18px;
$text-font-size-large: 21px;

$text-line-height-small: 21px;
$text-line-height-medium-low: 24px;
$text-line-height-medium: 26px;
$text-line-height-normal: 40px;
